@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #fafafa;
}

input {
    height: 25px;    
}

button {
    height: 30px;
    /* width: 40px; */
    border-radius: 10%;
    border: 1px solid lightblue;
    background-color: transparent;
    color: lightblue;
    font-size: 12pt;
    /* font-weight: 600; */
    text-align: center;
    margin-left: 5px;
}

.titulo {
    font-size: 24px;
    text-align: center;
    font-weight: bold;
}

.menu {
    display: flex;
    align-items: center;
}

.list {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.item {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 5px;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

#item li {
    display: flex;
    align-items: center;
}

#item input {
    margin-right: 10px;
}

.full-list {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.doTask {
    text-decoration: line-through;
}